.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog-container .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.dialog-container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 30px;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
}

.dialog-container .content h3 {
    color: #333;
    font-size: 16px;
}

.dialog-container .content input {
    height: 24px;
    line-height: 24px;
    text-indent: 5px;
    border-radius: 0;
}

.dialog-container .content button {
    height: 30px;
    border-radius: 0;
}

.dialog-container .content .message {
    color: red;
    font-size: 12px;
}